.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    overflow: hidden;
    display: flex;

  }

  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  pre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .detalle {
    text-decoration: none;
    font-weight: bold;
  }

  .loader {
      flex-grow: 1;
      animation: spinner 1s infinite linear;
  
  }

  @keyframes spinner {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(0.5);
    }
  }